<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Magpie's Nest</title>
    <meta name="keywords" content="webstore, Vue.js" />
    <meta name="description" content="Webstore selling anything you like" />
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <section id="page">

        <!-- TODO Header -->
        <header>
            <img src="images/magpie_nest.png" alt="magpie on a branch" id="logo">
            <h1 id="title">Magpie's Nest</h1>
        </header>


        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#news">Best Deals</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </nav>
        <!-- TODO Main content -->
        <main>
            <h2 class="title2">Home</h2>
            </div>
        </main>
        <div class="bd">
            <h2 class="title2">Best Deals</h2>
        </div>
        <div class="contact">
            <h2 class="title2">Contact</h2>
        </div>

        <!-- TODO Footer -->
        <footer>
            <div>

                <div id="aboutUs">
                    <h3>
                        {{header}}
                    </h3>

                    <ul style="list-style-type:none;">
                        <li v-for="info in infos">
                            {{info}}
                        </li>
                    </ul b>
                </div>

                <script>
                    var app = new Vue({
                        el: '#aboutUs',
                        data: {
                            header: "About Us",
                            infos: ["Company info", "News", "Policies"]
                        }
                    });
                </script>
            </div>
            <div>

                <div id="customerCare">
                    <h3>
                        {{header}}
                    </h3>

                    <ul style="list-style-type:none;">
                        <li v-for="customer in customers">
                            {{ customer }}
                        </li>
                    </ul>
                </div>

                <script>
                    var app = new Vue({
                        el: '#customerCare',
                        data: {
                            header: "Customer Care",
                            customers: ["Contact Us", "Seller information", "Returns", "Help"]
                        }
                    });
                </script>

            </div>

        </footer>
    </section>
    <footer class="footer_line">Copyright © 2019 Magpie's Nest Inc. All rights reserved</footer>


</body>

</html>